.hexSheet {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: black;
    z-index: -1;
}

.overlay {
    height: 100%;
    width: 100%;
    background-image: url('../../assets/images/background-tile-long.png');
    background-repeat: repeat;
    background-size: 20%;
    position: fixed;
    z-index: -1;
}

@keyframes hexglow {
    0% { top: -60px; }
    100% { top: 100vh; }
}

.underlay {
    position: relative;
    z-index: -2;
    width: 100%;
    height: 15%;
    animation-name: hexglow;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-image: linear-gradient(to bottom,
                                        rgba(155, 56, 56, 0),
                                        rgba(255, 46, 46, 0.3),
                                        rgba(255, 46, 46, 0.5),
                                        rgb(255, 46, 46),
                                        rgba(255, 46, 46, 0.5),
                                        rgba(255, 46, 46, 0.3),
                                        rgba(155, 56, 56, 0));
    top: -60px;
}
